
<ul id="nav" class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Mobiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Laptops</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tablets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Other</a>
  </li>
</ul>

<ul id="side" class="list-group" style="display: inline-block;width: 20%;">
  <li class="nav-item">
    <a class="nav-link" href="#">Apple</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Realme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Oppo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sony</a>
  </li>
</ul>

<div class="container-fluid" style="display: inline-block;width: 80%;">
  <section class="row">
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 100$</li>
      </ul>
      <div class="card-body">
        <a id="button" href="#" class="btn btn-primary">Buy Now</a>
        <a id="button" href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 100$</li>
      </ul>
      <div class="card-body">
        <a id="button" href="#" class="btn btn-primary">Buy Now</a>
        <a id="button" href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 100$</li>
      </ul>
      <div class="card-body">
        <a id="button" href="#" class="btn btn-primary">Buy Now</a>
        <a id="button" href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 100$</li>
      </ul>
      <div class="card-body">
        <a id="button" href="#" class="btn btn-primary">Buy Now</a>
        <a id="button" href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/images/product-1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Soundcore p25i</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: 100$</li>
      </ul>
      <div class="card-body">
        <a id="button" href="#" class="btn btn-primary">Buy Now</a>
        <a id="button" href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>
  </section>
</div>
